/*Невеликі зміни дизайну для маленьких екранів, запобігання перекриття одного контенту іншим*/
@media (max-width: 1500px) {
  .all-languages .grid {
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
  }
}
@media (max-width: 1200px) {
  .all-languages .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }
}
@media (max-width: 768px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .top-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  header .search-container {
    margin: 20px 0px;
  }
  .all-languages .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}